.form {
    color: white;
    font-family: 'Lato' sans-serif;
    color: #c5c8c8e5;
    border: 2px solid #aaaaaa;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 10px;
    text-align: center;
}

.form__paragraph {
    font-size: 20px;
    color: #c5c8c8e5;
}

.form__fieldset {
    color: #a0bcf7;
    border: 2px solid #aaaaaa;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.650);
}

.form__value {
    background-color: #ffffffd2;
    border-radius: 15%;
    border: 5px solid #535353;
    display: flex;
    ;
    text-decoration: none;
    text-align: center;
    color: #000000;
}

.form__button {
    color: white;
    background-color: #000000;
    margin: 10px auto;
    border-radius: 15px;
    border: 2px solid #535353;
    display: block;
    text-decoration: none;
    color: #a0bcf7;
    font-weight: 700;
    font-size: 20px;
}

.form__button:hover {
    opacity: 1;
    background-color: #0e93ecfa;
    color: #232936;
    border-color: #03375afa;
}

.form__button:active {
    color: #b4b2b2fa;
}

.form__rate {
    margin: 5px;
    padding: 5px;
    color: white;
    font-family: 'Lato' sans-serif;
    color: #c5c8c8e5;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    text-align: center;
}

.form__result {
    padding: 10px;
    font-size: 25px;
    color: #0e93ecfa;
    border: 2px solid #aaaaaa;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 15px;
    text-align: center;
}

.hidden {
    display: none;
}